@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background-primary text-text-primary antialiased;
}

a {
  @apply text-text-primary;
}

